# Configuration file for PHPStan static code checking, see https://phpstan.org.
includes:
  - phpstan-baseline.neon
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - entity_mapping.neon

parameters:
  level: 2
  scanDirectories:
    - ../../../../vendor/drush/drush/src-symfony-compatibility
  reportUnmatchedIgnoredErrors: false
  paths:
    - .
  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static#"
